@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* New Color Palette */
  --orient: #05668d;
  --blue-lagoon: #028090;
  --persian-green: #00a896;
  --shamrock: #02c39a;
  --tusk: #f0f3bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orient: var(--orient);
  --color-blue-lagoon: var(--blue-lagoon);
  --color-persian-green: var(--persian-green);
  --color-shamrock: var(--shamrock);
  --color-tusk: var(--tusk);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-rethink-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    /* Dark mode can use the same color palette or adjusted versions */
    --orient: #05668d;
    --blue-lagoon: #028090;
    --persian-green: #00a896;
    --shamrock: #02c39a;
    --tusk: #f0f3bd;
  }
}

body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
