@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/* ---break---*/
@custom-variant dark (&:is(.dark *));

:root,
.light,
.dark {
  --background: #ffffff;
  --foreground: #171717;

  --border: #E2E8F0;
  --surface: #FAFBFC;
  --text--muted: #3A5059;
  --text--main: #102E38;

  --primary-950: #001417;
  --primary-900: #001f24;
  --primary-800: #00363e;
  --primary-700: #014c56;
  --primary-600: #016673;
  --primary-500: #028090; /* Our primary color*/
  --primary-400: #039cb0;
  --primary-300: #05b9d0;
  --primary-200: #06daf4;
  --primary-100: #a4eeff;
  --primary-50: #d6f6ff;

  --secondary-950: #001710;
  --secondary-900: #00251B;
  --secondary-800: #003F30;
  --secondary-700: #005E49;
  --secondary-600: #017F63;
  --secondary-500: #01A17F;
  --secondary-400: #02C39A;
  --secondary-300: #03DAAD;
  --secondary-200: #03F0BE;
  --secondary-100: #94FFDC;
  --secondary-50: #CAFFEB;

  --primary-dark-950: #012536;
  --primary-dark-900: #012536;
  --primary-dark-800: #05668D;
  --primary-dark-700: #05668D;
  --primary-dark-600: #087DAB;
  --primary-dark-500: #0B92C8;
  --primary-dark-400: #0FABEA;
  --primary-dark-300: #4DC1FE;
  --primary-dark-200: #9ED5FE;
  --primary-dark-100: #CFE8FF;
  --primary-dark-50: #EAF5FF;

  /*for success messages/notifications*/
  --success-950: #011806;
  --success-900: #02260C;
  --success-800: #05401A;
  --success-700: #0B5F2A;
  --success-600: #12813B;
  --success-500: #1AA34D;
  --success-400: #22C55E;
  --success-300: #27DD6A;
  --success-200: #2CF376;
  --success-100: #A8FEBB;
  --success-50: #D2FFDB;

  /*for error messages/notifications*/
  --error-950: #2D0000;
  --error-900: #450000;
  --error-800: #6D0000;
  --error-700: #9C0000;
  --error-600: #CE0000;
  --error-500: #FE0000;
  --error-400: #FF6B6B;
  --error-300: #FF9696;
  --error-200: #FFBBBB;
  --error-100: #FFDDDD;
  --error-50: #FFF0F0;

  /*for warning messages/notifications*/
  --warning-950: #181000;
  --warning-900: #251A00;
  --warning-800: #413000;
  --warning-700: #5D4600;
  --warning-600: #7A5C00;
  --warning-500: #9C7700;
  --warning-400: #BB9000;
  --warning-300: #DCA900;
  --warning-200: #FFC629;
  --warning-100: #FFE1B3;
  --warning-50: #FFF2E0;

  /*for information messages/notifications*/
  --information-950: #00131F;
  --information-900: #012031;
  --information-800: #013650;
  --information-700: #035074;
  --information-600: #066C9B;
  --information-500: #0987BF;
  --information-400: #0EA5E9;
  --information-300: #55BCFE;
  --information-200: #9ED2FE;
  --information-100: #D2E8FF;
  --information-50: #EBF5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --color-text-muted: var(--text--muted);
  --color-text-main: var(--text--main);

  --color-primary-950: var(--primary-950);
  --color-primary-900: var(--primary-900);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-600: var(--primary-600);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);

  --color-secondary-950: var(--secondary-950);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-50: var(--secondary-50);

  --color-primary-dark-950: var(--primary-dark-950);
  --color-primary-dark-900: var(--primary-dark-900);
  --color-primary-dark-800: var(--primary-dark-800);
  --color-primary-dark-700: var(--primary-dark-700);
  --color-primary-dark-600: var(--primary-dark-600);
  --color-primary-dark-500: var(--primary-dark-500);
  --color-primary-dark-400: var(--primary-dark-400);
  --color-primary-dark-300: var(--primary-dark-300);
  --color-primary-dark-200: var(--primary-dark-200);
  --color-primary-dark-100: var(--primary-dark-100);
  --color-primary-dark-50: var(--primary-dark-50);

  --color-success-950: var(--success-950);
  --color-success-900: var(--success-900);
  --color-success-800: var(--success-800);
  --color-success-700: var(--success-700);
  --color-success-600: var(--success-600);
  --color-success-500: var(--success-500);
  --color-success-400: var(--success-400);
  --color-success-300: var(--success-300);
  --color-success-200: var(--success-200);
  --color-success-100: var(--success-100);
  --color-success-50: var(--success-50);

  --color-error-950: var(--error-950);
  --color-error-900: var(--error-900);
  --color-error-800: var(--error-800);
  --color-error-700: var(--error-700);
  --color-error-600: var(--error-600);
  --color-error-500: var(--error-500);
  --color-error-400: var(--error-400);
  --color-error-300: var(--error-300);
  --color-error-200: var(--error-200);
  --color-error-100: var(--error-100);
  --color-error-50: var(--error-50);

  --color-warning-950: var(--warning-950);
  --color-warning-900: var(--warning-900);
  --color-warning-800: var(--warning-800);
  --color-warning-700: var(--warning-700);
  --color-warning-600: var(--warning-600);
  --color-warning-500: var(--warning-500);
  --color-warning-400: var(--warning-400);
  --color-warning-300: var(--warning-300);
  --color-warning-200: var(--warning-200);
  --color-warning-100: var(--warning-100);
  --color-warning-50: var(--warning-50);

  --color-information-950: var(--information-950);
  --color-information-900: var(--information-900);
  --color-information-800: var(--information-800);
  --color-information-700: var(--information-700);
  --color-information-600: var(--information-600);
  --color-information-500: var(--information-500);
  --color-information-400: var(--information-400);
  --color-information-300: var(--information-300);
  --color-information-200: var(--information-200);
  --color-information-100: var(--information-100);
  --color-information-50: var(--information-50);

  --font-sans: var(--font-geist-sans);

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --radius-2xl: calc(var(--radius) + 8px);

  --radius-3xl: calc(var(--radius) + 12px);

  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  background: var(--surface);
  color: var(--text--main);
}

/* ---break---*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* ---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* ---break---*/

@layer base {
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}